<?php
namespace Cubex\Tests;

define('PHP_START', microtime(true));

$autoLoader = require 'vendor/autoload.php';
$cubex = new \Cubex\Loader($autoLoader);

$configArray = \Cubex\Foundation\Config\ConfigGroup::fromArray(
  array(
    "project" => array(
      "source" => "src", "namespace" => "", "environment" => "development"
    ),
    "response" => array("minify_html" => false),
  )
);

$cubex->configure($configArray);

class Transport
{
  const CUBEX = "cubex";
  const CONFIG_GROUP = "config.group";

  public static $data;
}

Transport::$data[Transport::CUBEX] = $cubex;
Transport::$data[Transport::CONFIG_GROUP] = $configArray;
